@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;

  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  font-size: 1rem;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 1%;
  color: #333333;
}
img {
  width: 90px;
  position: absolute;
  top: 48px;
  right: 350px;
  border-radius: 50%;
  padding-right: 5px;
}
header {
  text-align: center;
  padding: 10px;
  background-color: #e3f2fd;
  margin: 10px;
  border-radius: 5px;
}
.profile,
.skills,
.education,
.experience,
.language {
  background-color: #e3f2fd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
a {
  color: #2c3e50;
  text-decoration: none;
}
#btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  background-color: cadetblue;
  border: none;
  border-radius: 5px;
  position: fixed;
  right: 40px;
  bottom: 50px;
  cursor: pointer;
}
#btn:hover {
  box-shadow: 0 0 10px cadetblue;
}
@media (max-width: 770px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  container {
    max-width: 90%;
    padding: 20px;
  }
  header {
    padding: 15px;
  }

  section {
    margin: 8px 0;
  }
  img {
    width: 80px;
    top: 20px;
    right: 20px;
  }
  .profile,
  .skills,
  .education,
  .experience,
  .language {
    padding: 15px;
  }
  #btn {
    width: 100px;
    height: 25px;
  }
}
